
html {
  scroll-behavior: smooth;
}
.para {
  font-size: 22px;
  background-color: #e1ccec;
  padding: 20px 20px 20px 20px;
}

.nav-color{
 font-weight: bold;
 color: black;
}
.events-button{
   padding: 10px;
}
/* Upper LOGO */

img.logo {

    box-shadow: 2px 2px;
    border-radius: 10px;
  }
