/* HEADER */

@media screen and (min-width: 601px) {
  div.head {
      margin-top: 10px;
    font-size:  36px;
    margin-left: 120px;
    font-weight: 900;

  }
}

@media screen and (max-width: 600px) {
  div.head {
    margin-top: 10px;
    font-size:   20px;
    margin-left: 100px;
    font-weight: 900;
  }
}

/* SUB HEADER */

@media screen and (min-width: 601px) {
  div.head2 {
      margin-top: 10px;
    font-size:  26px;
    margin-left: 120px;
    font-weight: bold;
    font-weight: bold;

  }
}

@media screen and (max-width: 600px) {
  div.head2 {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 100px;
    font-weight: bold;
    visibility: collapse;
  }
}
@media screen and (min-width: 601px) {
  img.logo {
    box-shadow: 2px 2px;
     float: left;
     width: 100%;
   max-width: 100px;
   height: auto;

  }
}

@media screen and (max-width: 600px) {
  img.logo {
    box-shadow: 2px 2px;
     float: left;
     width: 100%;
     margin-top: 10px;
    max-width: 80px;
    height: auto;

  }
}

@media screen and (min-width: 601px) {
  div.top {
    padding: 30px;
    height:180px;

  }
}

@media screen and (max-width: 600px) {
  div.top {

    padding: 5px;
    height:120px;
  }
}
/* ____________________________header ends_________________________________________ */

/* ____________________________mzin section_________________________________________ */
.main-section .row{
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}
.main-section .row .col-md-6{
    background: #f5f5f5;
    margin-right: -2%;
    padding: 5%;
}
.main-section h3{
    color: #004085;
}
.main-section p{
    margin-top: 10%;
    color: #545b62;
    font-size: 1.25em;
    font-weight: bold;
}
.main-section img
{
    width: 100%;
}

/* ____________________________mzin section_________________________________________ */

/* __________________________gallery section__________________________________ */


/* __________________________gallery section__________________________________ */

/* ------------------------footer--------------------------- */
.footer {
  position: relative;
 padding-top: 18px;
  color: white;
  font-weight: bold;
text-align: center;


  height: 100px;
  background-color: SlateBlue;
}
/* ------------------------footer--------------------------- */
