
<!-- generate header and footer from layout.html and content from home.html -->
{% extends 'home.html' %}

  {% block loader %}
  <!-- Preloader Starts -->
  <div id="preloader" class="winter-neva-gradient">
    <h1 style="font-weight: bold;">DITE IIF</h1>
    <div id="status">
      <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_znCQsa.json" background="transparent" speed="2" style="width:500px; height:500px" loop autoplay>
      </lottie-player>
    </div>
  </div>
  <!-- Preloader ends -->
  {% endblock loader %}
