<!-- generate header and footer from layout.html -->
{% extends 'layout.html' %}

<!-- Custom addition in head block of html page -->
  {% block head %}
  <!-- Custom linked CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% endblock head %}


  {% block content%}

   <div class="container" style="padding:50px;">
      <h1>I N C U B A T E E S</h1>

      <div class="row row-cols-1 row-cols-md-2 text-center ">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{{ url_for('static', filename='img002.jpeg') }}"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">INCUBATEE</h4>
          <!--Text-->
          <p class="card-text">Visit http://dite.delhigovt.nic.in</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-elegant btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{{ url_for('static', filename='img002.jpeg') }}"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">INCUBATEE</h4>
          <!--Text-->
          <p class="card-text">Visit http://dite.delhigovt.nic.in</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-elegant btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{{ url_for('static', filename='img002.jpeg') }}"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">INCUBATEE</h4>
          <!--Text-->
          <p class="card-text">Visit http://dite.delhigovt.nic.in</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-elegant btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{{ url_for('static', filename='img002.jpeg') }}"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">INCUBATEE</h4>
          <!--Text-->
          <p class="card-text">Visit http://dite.delhigovt.nic.in</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-elegant btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
  </div>

    </div>

  {% endblock  %}