<!-- generate header and footer from layout.html -->
{% extends 'layout.html' %}

<!-- Custom addition in head block of html page -->
{% block head %}
<!-- Custom linked CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
{% endblock head %}


{% block content%}
    <!------------------------------------------- MAIN CONTENT PLACEMENT HERE ------------------------------------------->
    <div style="margin: 20px 0;">
      <h1 class="text-center" style="font-weight: bold; ">MENTORS</h1>
        <center> <hr class="text-center deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;margin-bottom: 50px"></center>
    </div>


    <div class="container">
  	<div class="row">

  	<!--mentor-1-->
  	<div class="col-lg-4">
  	<div class="our-team-main">

  	<div class="team-front">
  	<img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" class="img-fluid" />
  	<h3>Lorem Ipsum</h3>
  	<p>CEO-Founder</p>
  	</div>

  	<div class="team-back">
  	<span>
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque penatibus et magnis dis parturient montes,
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque.
  	</span>
  	</div>

  	</div>
  	</div>


  	<!--mentor-2-->
  	<div class="col-lg-4">
  	<div class="our-team-main">

  	<div class="team-front">
  	<img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" class="img-fluid" />
  	<h3>Lorem Ipsum</h3>
  	<p>CEO-Founder</p>
  	</div>

  	<div class="team-back">
  	<span>
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque penatibus et magnis dis parturient montes,
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque.
  	</span>
  	</div>

  	</div>
  	</div>


  	<!--mentor-3-->
  	<div class="col-lg-4">
  	<div class="our-team-main">

  	<div class="team-front">
  	<img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" class="img-fluid" />
  	<h3>Lorem Ipsum</h3>
  	<p>CEO-Founder</p>
  	</div>

  	<div class="team-back">
  	<span>
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque penatibus et magnis dis parturient montes,
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque.
  	</span>
  	</div>

  	</div>
  	</div>


  	<!--mentor-4-->
  	<div class="col-lg-4">
  	<div class="our-team-main">

  	<div class="team-front">
  	<img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" class="img-fluid" />
  	<h3>Lorem Ipsum</h3>
  	<p>CEO-Founder</p>
  	</div>

  	<div class="team-back">
  	<span>
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque penatibus et magnis dis parturient montes,
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque.
  	</span>
  	</div>

  	</div>
  	</div>


  	<!--mentor-5-->
  	<div class="col-lg-4">
  	<div class="our-team-main">

  	<div class="team-front">
  	<img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" class="img-fluid" />
  	<h3>Lorem Ipsum</h3>
  	<p>CEO-Founder</p>
  	</div>

  	<div class="team-back">
  	<span>
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque penatibus et magnis dis parturient montes,
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque.
  	</span>
  	</div>

  	</div>
  	</div>


  	<!--mentor-6-->
  	<div class="col-lg-4">
  	<div class="our-team-main">

  	<div class="team-front">
  	<img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" class="img-fluid" />
  	<h3>Lorem Ipsum</h3>
  	<p>CEO-Founder</p>
  	</div>

  	<div class="team-back">
  	<span>
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque penatibus et magnis dis parturient montes,
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
  	natoque.
  	</span>
  	</div>

  	</div>
  	</div>
  	<!--mentor-6-->

  	</div>
  	</div>
{% endblock  %}